<a href="https://colab.research.google.com/github/shreya024/Spaceonova-Applications-of-Programming/blob/main/Day1/Spaceonova_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numbers
- Integers
- Float
- Complex (that has i or j)

# Arithmetic Operators
- +
- -
- *
- /
- % (Modular Division - Remainder)
- ** (Exponent)
- // (Floor Division - Quotient)

In [ ]:
print(3+5)
print(7/4)
print(7//4)
print(7%4)
print(169**0.5)

8
1.75
1
3
13.0

# Variables
- container to store data
- x=10
- Reassignment is allowed
- Cannot start with number
- Cannot have spaces
- Can use underscores
- Cannnot use special symbols

## Best Practice
- lowercase
- do not use list like reserved keywords

In [ ]:
x = 5
y = 10
z= x+y
print(z)

15

In [ ]:
type(4+3j)

complex

In [ ]:
# Input and Output
a = 10
print('The value of a is',a)
a = input()
print(a)
type(a)

The value of a is 10
674
674

str

# Strings
- sequence of characters enclosed by single or double quotes

In [ ]:
s = "Hello Alien!!!"
print(s)
print(s[0])
print(len(s))
print(s[-2])

Hello Alien!!!
H
14
!

# Subtring- String slicing

In [ ]:
print(s[1:5])
# Stride - increment by 2
print(s[1:5:2])
print(s[6:])
print(s[::2])
print(s[::-1])

ello
el
Alien!!!
HloAin!
!!!neilA olleH

In [ ]:
s[0]='X'

TypeError: ignored

Strings are immutable

In [ ]:
s="hello alien"
s=s*5
print(s)
d=s.upper()
print(d)
d=s.split('l')
print(d)

hello alienhello alienhello alienhello alienhello alien
HELLO ALIENHELLO ALIENHELLO ALIENHELLO ALIENHELLO ALIEN
['he', '', 'o a', 'ienhe', '', 'o a', 'ienhe', '', 'o a', 'ienhe', '', 'o a', 'ienhe', '', 'o a', 'ien']

# Lists
- elements written within brackets
- separated by commas
- Lists are mutable

In [ ]:
my_list=[1,2,3]
print(my_list)
type(my_list)
my_list=my_list + ['Shreya']
print(my_list)
my_list.pop()
print(my_list)
my_list.sort(reverse=True)
print(my_list)

[1, 2, 3]
[1, 2, 3, 'Shreya']
[1, 2, 3]
[3, 2, 1]